@model List<CarModel>
@{
    ViewBag.Title = "Araç Modeli Listele";
    Layout = "_Admin";
}
<table id="data-table" class="table is-striped hover display">
    <thead>
        <tr>
            <th>Sıra</th>
            <th>Marka</th>
            <th>Model Adı</th>
            <th>Kategori</th>
            <th>Donanım</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var carModel in Model)
        {
            i++;
            <tr id="@carModel.Id">
                <td>
                    @if (carModel.Order != 0)
                    {
                        @:@carModel.Order

                    }
                    else
                    {
                        @:@i
                    }
                </td>
                <td>@carModel.CarBrand.Name</td>
                <td>@carModel.Name</td>
                <td>@carModel.Category.Name</td>
                <td>
                @if (carModel.Equipment != null)
                {
                    @carModel.Equipment.Name
                }
                </td>
                <td>Düzenle</td>
                <td>Sil</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        var table = 0;

        $(document).ready(function () {

            siralama();

        })

        function siralama() {

            table = $('.table').DataTable({
                rowReorder: {
                    selector: 'tr'
                },
                paging: true,
                pageLength: 30,
                searching: false,
                info: false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json',
                },
                "order": [[0, "asc"]]
            });

            table.on('row-reorder.dt', function (dragEvent, data, nodes) {
                for (var i = 0, ien = data.length; i < ien; i++) {
                    var rowData = table.row(data[i].node).id();
                    fetch("/Admin/UpdateRowCarModel?id=" + rowData + "&fromPosition=" + data[i].oldData + "&toPosition=" + data[i].newData, {
                        method: 'GET'
                    })
                }
            });

        }
    </script>

    }