@{
    ViewBag.Title = "Araç Güncelle";
    Layout = "_Admin";
}
@model Advert
<div class="row">
    <form name="UpdateAdvert" id="UpdateCarForm" action="../UpdateAdvert" method="post" class="col s12 m10 l12 productform">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="row">
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="Showcase" />
                        <span>Vitrinde Gözüksün mü?</span>
                    </label>
                </p>
                <br class="clearfix" />
            </div>
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="Guarantee" />
                        <span>Garantisi Devam Ediyor mu?</span>
                    </label>
                </p>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Markası</label>
                <select name="CarBrand" class="browser-default" asp-items="@ViewBag.CarBrand" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Modeli</label>
                <select name="CarModel" class="browser-default" asp-items="@ViewBag.CarModel" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Donanım</label>
                <select name="Equipment" class="browser-default" asp-items="@ViewBag.Equipment" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Vites Çeşidi</label>
                <select name="Gear" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Otomatik</option>
                    <option value="1">Vitesli</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Türü</label>
                <select name="Fuel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Dizel</option>
                    <option value="1">Benzin</option>
                    <option value="2">Elektrik</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Rengi</label>
                <select name="Color" class="browser-default" asp-items="@ViewBag.Colors">
                    <option value="">Seçiniz</option>
                </select>
                <div class="addColorDiv">
                    <input type="text" name="AddColorText" class="browser-default" />
                </div>
                <p>
                    <label>
                        <input type="checkbox" name="AddColor" />
                        <span>İstediğim Renk Yok</span>
                    </label>
                </p>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Kasa Tipi</label>
                <select name="CaseType" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Hatchback</option>
                    <option value="1">Sedan</option>
                </select>
                <br class="clearfix" />
            </div>
            <br class="clearfix" />
            <div class="input-field">
                <label for="first_name">Yıl</label>
                <input type="number" name="Year" class="browser-default" value="@Model.Year" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">KM</label>
                <input type="number" name="Km" class="browser-default" value="@Model.Km" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Hız</label>
                <input type="number" name="MaxSpeed" class="browser-default" value="@Model.MaxSpeed" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Tork</label>
                <input type="number" name="Tork" class="browser-default" value="@Model.Tork" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">0-100 Kaç Sn?</label>
                <input type="number" name="To0100" class="browser-default" value="@Model.To0100" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Boş Ağırlık</label>
                <input type="number" name="EmptyWeight" class="browser-default" value="@Model.EmptyWeight" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Tüketimi</label>
                <input type="text" name="FuelConsumption" class="browser-default" value="@Model.FuelConsumption" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Motor Hacmi</label>
                <input type="number" name="CylinderVolume" class="browser-default" value="@Model.CylinderVolume" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Silindir Adedi</label>
                <input type="number" name="CylinderNumber" class="browser-default" value="@Model.CylinderNumber" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Supap Adedi</label>
                <input type="number" name="ValveNumber" class="browser-default" value="@Model.ValveNumber" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Aktarma Türü</label>
                <input type="text" name="TypeOfTransfer" class="browser-default" value="@Model.TypeOfTransfer" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Motor Gücü</label>
                <input type="text" name="EnginePower" class="browser-default" value="@Model.EnginePower" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Fiyatı</label>
                <input type="text" name="Price" class="browser-default" value="@Model.Price" data-affixes-stay="true" data-thousands="." data-decimal="," required />
                <br class="clearfix" />
            </div>
            @if (Model.Expertiz != null)
            {
                <input type="hidden" name="OnTampon" value="@Model.Expertiz.OnTampon" />
                <input type="hidden" name="OnSagCamurluk" value="@Model.Expertiz.OnSagCamurluk" />
                <input type="hidden" name="OnSolCamurluk" value="@Model.Expertiz.OnSolCamurluk" />
                <input type="hidden" name="Kaput" value="@Model.Expertiz.Kaput" />
                <input type="hidden" name="OnSagKapi" value="@Model.Expertiz.OnSagKapi" />
                <input type="hidden" name="OnSolKapi" value="@Model.Expertiz.OnSolKapi" />
                <input type="hidden" name="ArkaSagKapi" value="@Model.Expertiz.ArkaSagKapi" />
                <input type="hidden" name="ArkaSolKapi" value="@Model.Expertiz.ArkaSolKapi" />
                <input type="hidden" name="Tavan" value="@Model.Expertiz.Tavan" />
                <input type="hidden" name="ArkaSolCamurluk" value="@Model.Expertiz.ArkaSolCamurluk" />
                <input type="hidden" name="ArkaSagCamurluk" value="@Model.Expertiz.ArkaSagCamurluk" />
                <input type="hidden" name="BagajKapagi" value="@Model.Expertiz.BagajKapagi" />
                <input type="hidden" name="ArkaTampon" value="@Model.Expertiz.ArkaTampon" />
            }
            else
            {
                <input type="hidden" name="OnTampon" value="+" />
                <input type="hidden" name="OnSagCamurluk" value="+" />
                <input type="hidden" name="OnSolCamurluk" value="+" />
                <input type="hidden" name="Kaput" value="+" />
                <input type="hidden" name="OnSagKapi" value="+" />
                <input type="hidden" name="OnSolKapi" value="+" />
                <input type="hidden" name="ArkaSagKapi" value="+" />
                <input type="hidden" name="ArkaSolKapi" value="+" />
                <input type="hidden" name="Tavan" value="+" />
                <input type="hidden" name="ArkaSolCamurluk" value="+" />
                <input type="hidden" name="ArkaSagCamurluk" value="+" />
                <input type="hidden" name="BagajKapagi" value="+" />
                <input type="hidden" name="ArkaTampon" value="+" />
            }
            <div class="input-field uzn">
                <label for="first_name">Ürün Resimleri </label>
                <div class="dropzndis">
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fas fa-upload"></i>
                            <p>Yükleyeceğiniz fotoğrafları sürükleyin veya tıklayıp seçin.</p>
                        </div>
                        <input id="Files" type="file" name="img_logo" class="dropzone" multiple />
                        <div class="row">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                    <ul class="table" id="ListofFiles">
                        @{
                            var Images = "";
                            var gallery = Model.Gallery.OrderBy(x => x.Order);
                        }
                        @foreach (var item in gallery)
                        {
                            Images += item.Image + ",";

                            string[] fileClass = item.Image.Split('.');

                            <li id="@item.Image" class="@fileClass[0]"><div id='fotoDisDiv'><div id='fotoDiv'><span><img src='../../tema/images/upload/@item.Image' width="100" /></span></div><a class="silBtnFoto" id="@item.Image" onclick='DeleteFile("@item.Image")'></a></div></li>
                        }
                    </ul>
                </div>
                <input type="hidden" name="Images" value="@Images" />
                <br class="clearfix" />
            </div>
            <h2>Ekspertiz</h2>
            <ul class="expertInfo">
                <li><span>L.</span> Lokal Boyalı</li>
                <li><span>H.</span> Hasarlı</li>
                <li><span>B.</span> Boyalı</li>
                <li><span>D.</span> Değişen</li>
                <li><span>E.</span> Ezik</li>
                <li><span>Ç.</span> Çizik</li>
            </ul>
            <div class="expert">
                <div class="carBlock">
                    @if (Model.Expertiz != null)
                    {
                        <div id="OnTampon" class="@if(Model.Expertiz.OnTampon != "+"){
                        @:redBack
                    }">@Model.Expertiz.OnTampon</div>
                        <div id="OnSagCamurluk" class="@if(Model.Expertiz.OnSagCamurluk != "+"){
                        @:redBack
                    }">@Model.Expertiz.OnSagCamurluk</div>
                        <div id="OnSolCamurluk" class="@if(Model.Expertiz.OnSolCamurluk != "+"){
                        @:redBack
                    }">@Model.Expertiz.OnSolCamurluk</div>
                        <div id="Kaput" class="@if(Model.Expertiz.Kaput != "+"){
                        @:redBack
                    }">@Model.Expertiz.Kaput</div>
                        <div id="OnSagKapi" class="@if(Model.Expertiz.OnSagKapi != "+"){
                        @:redBack
                    }">@Model.Expertiz.OnSagKapi</div>
                        <div id="OnSolKapi" class="@if(Model.Expertiz.OnSolKapi != "+"){
                        @:redBack
                    }">@Model.Expertiz.OnSolKapi</div>
                        <div id="ArkaSagKapi" class="@if(Model.Expertiz.ArkaSagKapi != "+"){
                        @:redBack
                    }">@Model.Expertiz.ArkaSagKapi</div>
                        <div id="ArkaSolKapi" class="@if(Model.Expertiz.ArkaSolKapi != "+"){
                        @:redBack
                    }">@Model.Expertiz.ArkaSolKapi</div>
                        <div id="Tavan" class="@if(Model.Expertiz.Tavan != "+"){
                        @:redBack
                    }">@Model.Expertiz.Tavan</div>
                        <div id="ArkaSolCamurluk" class="@if(Model.Expertiz.ArkaSolCamurluk != "+"){
                        @:redBack
                    }">@Model.Expertiz.ArkaSolCamurluk</div>
                        <div id="ArkaSagCamurluk" class="@if(Model.Expertiz.ArkaSagCamurluk != "+"){
                        @:redBack
                    }">@Model.Expertiz.ArkaSagCamurluk</div>
                        <div id="BagajKapagi" class="@if(Model.Expertiz.BagajKapagi != "+"){
                        @:redBack
                    }">@Model.Expertiz.BagajKapagi</div>
                        <div id="ArkaTampon" class="@if(Model.Expertiz.ArkaTampon != "+"){
                        @:redBack
                    }">@Model.Expertiz.ArkaTampon</div>
                    }
                    else
                    {
                        <div id="OnTampon" class="">+</div>
                        <div id="OnSagCamurluk" class="">+</div>
                        <div id="OnSolCamurluk" class="">+</div>
                        <div id="Kaput" class="">+</div>
                        <div id="OnSagKapi" class="">+</div>
                        <div id="OnSolKapi" class="">+</div>
                        <div id="ArkaSagKapi" class="">+</div>
                        <div id="ArkaSolKapi" class="">+</div>
                        <div id="Tavan" class="">+</div>
                        <div id="ArkaSolCamurluk" class="">+</div>
                        <div id="ArkaSagCamurluk" class="">+</div>
                        <div id="BagajKapagi" class="">+</div>
                        <div id="ArkaTampon" class="">+</div>
                    }

                </div>
                <img src="~/tema/images/car.png" />
            </div>
            <div class="input-field ">
                <label for="first_name"> </label>
                <input type="submit" value="Otomobil Güncelle" name="AddCarButton" class="btn btn-primary mr-2" />
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/admintema/js/jquery.validate.min.js"></script>
    <script src="~/admintema/js/ckeditor.js"></script>
    <script src="~/admintema/js/jquery.maskmoney.min.js"></script>

    <script type="text/javascript">
        $(".table").sortable({
            update: function (event, ui) {
                var phrase = '';
                $('.table').each(function () {

                    $(this).find('li').each(function () {
                        var current = $(this);
                        var classd = current.attr("class");
                        if (classd != "dispnone") {
                            phrase += current.attr("id") + ",";
                        }
                    });
                });

                $("[name='Images']").val(phrase);

            }
        });
        $("[name='AddColor']").click(function () {

            if ($(this).is(':checked')) {

                $(".addColorDiv").show();
                $("[name='Color']").hide();

            } else {

                $(".addColorDiv").hide();
                $("[name='Color']").show();

            }

        })
        $(function () {
            $("[name='Price']").maskMoney();
            $(".addColorDiv").hide();
        })

        $(".carBlock div").click(function () {

            $(this).addClass("redBack");

            var htm = $(this).html();
            var divId = $(this).attr("id");

            if (htm == "+") {
                $(this).html("L");
            } else if (htm == "L") {
                $(this).html("H");
            } else if (htm == "H") {
                $(this).html("B");
            } else if (htm == "B") {
                $(this).html("D");
            } else if (htm == "D") {
                $(this).html("E");
            } else if (htm == "E") {
                $(this).html("Ç");
            } else if (htm == "Ç") {
                $(this).html("+");
                $(this).removeClass("redBack");
            }

            var newHtm = $(this).html();
            $("[name='" + divId + "']").val(newHtm);

        })
        $(document).ready(function () {

            $("[name='Gear']").val(@Model.Gear);
            $("[name='Fuel']").val(@Model.Fuel);
            $("[name='Color']").val(@Model.Color.Id);
            $("[name='CaseType']").val(@Model.CaseType);
        @if (Model.Showcase)
        {
            @:$("[name='Showcase']").prop("checked", true);
        }
        @if (Model.Guarantee)
        {
            @:$("[name='Guarantee']").prop("checked", true);
        }      })
        $("[name='CarBrand']").change(function () {

            var id = $(this).val();

            fetch("/Admin/Getmodels/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='CarModel']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='CarModel']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })
        $("[name='CarModel']").change(function () {

            var id = $(this).val();

            fetch("/Admin/GetEquipment/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='Equipment']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='Equipment']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })


        $(".dropzone").change(function () {
            var ext = $('#Files').val().split('.').pop().toLowerCase();

            if (ext != 'jpg' && ext != 'jpeg' && ext != 'tif' && ext != 'pjp' && ext != 'pjpeg' && ext != 'webp' && ext != 'tiff' && ext != 'png' && ext != 'svg' && ext != 'svgz' && ext != 'gif' && ext != 'ico' && ext != 'xbm' && ext != 'dib') {
                alert("Bu alana sadece fotoğraf dosyaları yüklenebilir.");
            } else {
                readFile(this);
            }
        });

        $('.dropzone-wrapper').on('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).addClass('dragover');
        });

        $('.dropzone-wrapper').on('dragleave', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).removeClass('dragover');
        });


        function readFile(input) {
            if (input.files && input.files[0]) {

                var files = input.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                $.ajax({

                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = ((evt.loaded / evt.total) * 100);
                                $(".progress-bar").width(percentComplete + '%');
                                $(".progress-bar").html(parseInt(percentComplete) + '%');
                            }
                        }, false);
                        return xhr;
                    },

                    url: '../UploadHandler',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    cache: false,
                    data: fileData,
                    multiple: true,
                    acceptFileTypes: '',
                    async: true,

                    beforeSend: function () {
                        $(".progress-bar").width('0%');
                        $('#uploadStatus').html('<img src="~/images/loading.gif"/>');
                    },

                    success: function (result) {
                        if (result != "") {
                            $(".progress-bar").width('0%');
                            $('#FileBrowse').find("*").prop("disabled", true);
                            $(".progress-bar").html("");
                            UploadGetir(result); //calling UploadFiles function to load the progress bar.
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
        }

        function UploadGetir(result) {

            let filenameler = result.split('/');
            var phrase = $("[name='Images']").val();

            for (let i = 0; i < filenameler.length; i++) {

                let filenam = filenameler[i].split('/');
                let fileClass = filenam[0].split('.');

                if (filenameler[i] != "") {

                    var number = i + 1;
                    phrase += filenam[0] + ",";
                    var tur = "<img src='../../tema/images/upload/" + filenam[0] + "' width=\"100\" />";
                    var liste = "<li id=" + filenam[0] + "  class=" + fileClass[0] + "><div id='fotoDisDiv'><div id='fotoDiv'><span>" + tur + "</span></div><a class=\"silBtnFoto\" id=" + filenameler[i] + " onclick='DeleteFile(\"" + filenam[0] + "\")'></a></div></li>"; // Binding the file name;
                    $("#ListofFiles").append(liste);

                }
            }
            $("[name='Images']").val(phrase);
            $('#Files').val('');
            $('#FileBrowse').find("*").prop("disabled", false);
        }

        function DeleteFile(FileName) {

            $.ajax({
                url: '../UploadHandler?deleteImage=' + FileName,
                type: "POST",
                success: function (FileName) {
                    let filenam = FileName.split('.');
                    $("." + filenam[0]).removeClass().addClass("dispnone");

                    var phrase = '';
                    $('.table').each(function () {

                        $(this).find('li').each(function () {
                            var current = $(this);
                            var classd = current.attr("class");
                            if (classd != "dispnone") {
                                phrase += current.attr("id") + ",";
                            }
                        });
                    });

                    $("[name='Images']").val(phrase);
                }
            });

        }

    </script>
}